<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">My ToDo's</a>
    </div>
  </div>
</nav>
<form [formGroup]="form" (ngSubmit)="newActivity()" class="container">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="name">Activity</label>
      <input
        formControlName="act"
        type="text"
        class="form-control"
        placeholder="what are we doing"
      />
    </div>
    <div class="form-group col-sm-6">
      <label for="amount">C/w Date?</label>
      <input formControlName="cw" type="date" id="name" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mt-2">
      <div class="btn-group">
        <button
          class="btn btn-success m-1"
          [disabled]="!form.valid"
          type="submit"
        >
          Add
        </button>
        <button class="btn btn-danger m-1" type="reset">undo</button>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
    <ul>
      <li *ngFor="let activity of activities">
        <div *ngIf="!activity.isComplete; else elseBlock">
          {{ activity.act }} -
          <em>{{ activity.cw | date }} </em>
        </div>
        <ng-template #elseBlock
          ><del
            >{{ activity.act }} - <em>{{ activity.cw | date }} </em></del
          ></ng-template
        >
        <button
          class="btn btn-warning"
          type="button"
          (click)="taskDone(activity)"
        >
          done!
        </button>
        <button
          class="btn btn-danger m-1"
          type="button"
          (click)="taskDelete(activity)"
        >
          delete
        </button>
      </li>
    </ul>
  </div>
</div>
